{% extends 'layout.html' %}
{% block container %}

{% import "_macros.html" as macro %}

<!---novaludate, no toma las validaciones del html (esto se hizo para probar las validaciones hechas por nosostros)-->
<form action="" method="post" novalidate>
    {{form.csrf_token}}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">


    <div class="row control-group">
        <div class="form-groupform-group col-xs-12 floating-label-form-group controls"></div>
        {{macro.campoNuevo(form.matricula, class="form-control")}}
    </div>
    <div class="row control-group">
        <div class="form-groupform-group col-xs-12 floating-label-form-group controls"></div>
        {{macro.campoNuevo(form.nombre, class="form-control")}}
    </div>
    <div class="row control-group">
        <div class="form-groupform-group col-xs-12 floating-label-form-group controls"></div>
        {{macro.campoNuevo(form.apellidos, class="form-control")}}
    </div>
    <div class="row control-group">
        <div class="form-groupform-group col-xs-12 floating-label-form-group controls"></div>
        {{macro.campoNuevo(form.edad, class="form-control")}}
    </div>
    <div class="row control-group">
        <div class="form-groupform-group col-xs-12 floating-label-form-group controls"></div>
        {{macro.campoNuevo(form.correo, class="form-control")}}
    </div>

    <input type="submit" class="btn btn-primary" value="Guardar">

</form>

<h2>Matricula: {{mat}}</h2>
<h2>Nombre: {{nom}}</h2>
<h2>Apellidos: {{ape}}</h2>
<h2>Edad: {{edad}}</h2>
<h2>Correo: {{correo}}</h2>


{% endblock %}