{% extends 'layout.html' %}

{% block container %}
<h1>Calcular</h1>
<form action="/operasBas" method="post">
    <label>N1:</label>
    <input type="number" name="n1" id="n1"><br>
    <label>N2:</label>
    <input type="number" name="n2" id="n2"><br>

    <p>Selecciona el tipo de operacion:</p>
    <input type="radio" id="suma" name="opOperacion" value="suma">
    <label for="suma">Suma</label><br>
    <input type="radio" id="resta" name="opOperacion" value="resta">
    <label for="resta">Resta</label><br>
    <input type="radio" id="multiplicacion" name="opOperacion" value="multiplicacion">
    <label for="multiplicacion">Multiplicación</label><br>
    <input type="radio" id="division" name="opOperacion" value="division">
    <label for="division">División</label><br>


    <input type="submit" value="Calcular" class="btn btn-primary">
</form>
<h1>{{resOp}}</h1>
{% endblock %}